@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "~ng-zorro-antd/ng-zorro-antd.min.css";


body{
    overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
