.d-none{
  display: none !important;
}
.d-block{
  display: flex !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgb(14 14 14), rgb(9 9 9/7%));
  z-index: 9999;
  color: white;
  display: flex;
  align-items: center;
  width:100%;
  img {
    width: 20%;
  }
  .navigation-menu {
    width: 60%;
    display: flex;
    padding: 0px 20px;
    .menu-items{
      padding:0px 20px;
      cursor: pointer;
      font-weight: 500;
      &:hover{
        color: #b1b1b1;
      }
    }
  }
  .element{
    width:20%;
    float:right;
    display: flex;
    justify-content: end;
    margin-right:30px;
    padding:5px 0px;
    height:40px;
    .items-icon{
      font-size:20px;
      padding:0px 8px;
    }
    .kid{
      position: relative;
      .icon-account{
        position: absolute;
        top: 20px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding:10px;
        width: 250px;
        cursor: pointer;
        border-radius: 10px;
        display: none;
        &::before{
          content: "";
          position: absolute;
          top: -5px;
          right: 15px;
          background-color: rgba(0, 0, 0, 0.7);;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          z-index: -1;
        }
        .icon-account_el:hover{
          opacity: 0.8;
        }
      }
      &:hover .icon-account {
        display: block;
      }
    }
    .notify{
      position: relative;
        &::before{
          position: absolute;
          top: -10px;
          right: 0;
          width: 20px;
          text-align: center;
          border-radius: 50%;
          content: "12";
          font-size: 12px;
          background-color: black;
        }
    }
    .info{
      &:hover{
        opacity: 0.8;
      }
    }

  }
}
